.search-component {
    display: flex;
    width: 240px;
    padding: 10px 20px;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 20px;
    display: flex;
    .search-icon {
        flex: 0 0 20%;
        font-size: 24px !important;
        cursor: pointer;
    }
    .search-text {
        flex: 0 0 80%;
        display: flex;
        align-items: center;
        input {
            font-size: 16px !important;
            border: none;
            background-color: rgba(250, 250, 250, 1);
        }
        input:focus {
            background-color: rgba(250, 250, 250, 1);
            outline: none !important;
        }
    }
}