.read-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-post {
        max-width: 650px;
        margin: 3% auto;
        font-size: 2.7em;
        font-weight: 700;
        letter-spacing: -0.011em;
        color: #242424;
        font-family: 'Times New Roman', Times, serif;
        textarea {
            width: 650px;
            margin: 0 auto;
            font-size: 1.5em;
            font-weight: 400;
            letter-spacing: -0.011em;
            border: none;
            color: #242424;
            font-family: "Times New Roman" !important;
        }
        textarea:focus {
            outline: none !important;
        }
    }
    .author-post {
        width: 650px;
        margin: 3% auto;
        display: flex;
        flex-direction: column;
        .author-post {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            gap: 10px;
            .element{
                padding: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .element-child {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    cursor: pointer;
                }
                img {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }
        }
        .post-action {
            width: 100%;
            border-top: 1px solid #000000;
            border-bottom: 1px solid #000000;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .element{
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 50px;
                .element-child {
                    font-size: 22px;
                    margin: 10x 30px;
                    cursor: pointer;
                }
            }
        }
    }
    .content-post {
        font-family: 'Times New Roman', Times, serif;
        #editorjs {
            .codex-editor--empty {
                display: none !important;
            }
        }
    }
    .cdx-input {
        display: flex;
        justify-content: center;
        border: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important
    }
    .ce-paragraph {
        margin-bottom: 1rem;
        font-size: 22px !important;
        word-wrap: break-word !important;
    }
    .cdx-list__item {
        font-size: 22px !important;
    }
    .cdx-quote__text {
        min-height: 60px;
        border: 1px solid rgba(201,201,204,.48) !important;
        box-shadow: inset 0 1px 2px #232c480f !important;
        border-radius: 3px !important;
    }
    .ce-toolbar__plus {
        font-family: 'Times New Roman', Times, serif;
        width: 25px;
        height: 25px;
        border: 1px solid #000000;
        border-radius: 50% !important;
    }
    .ce-toolbar__content {
        margin: 5px auto;
    }
    .ce-toolbar__content {
        margin: 5px auto;
    }
}