@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
.write-content-component {
    height: 75%;
    .body-component {
        display: flex;
        width: 100%;
        .option-component {
            flex: 1 1 5%;
            display: flex;
            justify-content: center;
            // position: relative;
            #tool-box-component {
                position: absolute;
                width: 100%;
                height: 50px;
                background-color: aqua;
            }
            // position: absolute;
        }
        .text-component {
            flex: 1 1 95%;
            .react-mde {
                margin-top: 2%;
                border: none;
                .mde-header {
                    background: none;
                    border-bottom: 1px solid #c8ccd0;
                    display: none;
                    .mde-tabs {
                        button {
                            padding: 10px 25px;
                            border-radius: 22px;
                            font-family: 'Kalam', cursive;
                            font-size: 20px;
                            font-weight: 500;
                            color: #000000;
                        }
                        .selected {
                            background-color: #1976d2;
                            color: #ffffff;
                        }
                    }
                }
                .mde-textarea-wrapper {            
                    height: 65vh;
                    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                    display: flex;
                    justify-content: center;
                    .mde-text {
                        width: 55vw;
                        padding: 20px;
                        height: 100% !important;
                        font-size: 25px !important;
                    }
                    .mde-text:focus {
                        outline: none;
                    }
                }
                .mde-preview {
                    padding: 20px;
                    display: flex;
                    height: 75vh;
                    justify-content: center;
                    .mde-preview-content {
                        width: 50vw;
                        // Normal Body Composent
                        // Text
                        p {
                            margin-top: 2em;
                            margin-bottom: -0.46em;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 32px;
                            letter-spacing: -0.003em;
                            color: #242424;
                            word-break: break-word;
                            font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif !important;
                        }
                        // Code
                        pre {
                            margin: 2em 0;
                        }
                        // Title Component
                        .title-component {
                            display: flex;
                            align-items: center;
                            justify-content: flex-start;
                            p {
                                margin-top: 1.19em;
                                margin-bottom: -0.27em;
                                color: #242424;
                                font-size: 42px;
                                font-weight: 700;
                                line-height: 52px;
                                letter-spacing: -0.011em;
                                font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif !important;
                            }
                        }
                        // Image Component
                        .image-component {
                            display: flex;
                            flex-direction: column;
                            max-width: 100%;
                            margin-top: 1.19em;
                            vertical-align: middle;
                            background-color: rgba(255, 255, 255, 1);
                            p {
                                width: 100%;
                                margin-top: 10px;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                                word-wrap: break-word;
                                word-break: break-word;
                                font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
                                display: flex;
                                justify-content: center;
                            }
                            img {
                                max-width: 100%;
                            }
                            .image-small {
                                width: 50%;
                                height: auto;
                            }
                            .image-medium {
                                width: 75%;
                                height: auto;
                            }
                            .image-large {
                                width: 100%;
                                height: auto;
                            }
                        }
                        .image-positions-left {
                            justify-content: left;
                        }
                        .image-positions-right {
                            justify-content: right;
                        }
                        .image-positions-center {
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }
    .cdx-input {
        display: flex;
        justify-content: center;
        border: none !important;
        box-shadow: none !important;
        -webkit-box-shadow: none !important
    }
    .ce-paragraph {
        margin-bottom: 1rem;
        font-size: 22px !important;
        word-wrap: break-word !important;
    }
    .cdx-list__item {
        font-size: 22px !important;
    }
    .cdx-quote__text {
        min-height: 60px;
        border: 1px solid rgba(201,201,204,.48) !important;
        box-shadow: inset 0 1px 2px #232c480f !important;
        border-radius: 3px !important;
    }
    .ce-toolbar__plus {
        font-family: 'Times New Roman', Times, serif;
        width: 25px;
        height: 25px;
        border: 1px solid #000000;
        border-radius: 50% !important;
    }
    .ce-toolbar__content {
        margin: 5px auto;
    }
    .ce-toolbar__content {
        margin: 5px auto;
    }
}