.sign-in-email{
    padding: 30px;
    font-family: 'Kalam', cursive;
    .header {
        margin: 20px 0;
        font-weight: 700;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    .sub-header {
        margin: 40px 0;
        font-size: 25px;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .infor-box {
        padding: 10px;
        font-size: 20px;
        font-weight: 400;
        margin: 40px 20px;
        .box-element {
            display: flex;
            flex-direction: row;
            align-items: center;
            .title {
                flex: 1 1 40%;
                text-align: left;
            }
            .input {
                flex: 1 1 60%;
                border-bottom: 1px solid #000000;
                input {
                    width: 95%;
                    border: none;
                    font-size: 18px;
                    padding: 5px 10px;
                    font-family: 'Kalam', cursive;
                }
            }
        }
        .err {
            margin-left: 40%;
            color: red;
        }
        .check-box {
            display: flex;
            gap: 10px;
            margin-top: 15px;
            margin-left: 40%
        }
    }
    .sign-in-btn {
        width: 30%;
        padding: 10px;
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        color: #ffffff;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        background-color: #000000;
        display: flex;
        justify-content: center;
    }
    .footer {
        margin-top: 40px;
        font-size: 20px;
        font-weight: 300;
        color: #059213;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }
}