@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.head-text {
  font-family: 'Kalam', cursive;
  font-size: 30px;
  font-weight: 700;
  color: #000000;
}

.title-text {
  font-family: 'Kalam', cursive;
  font-size: 25px;
  font-weight: 700;
  color: #000000;
}
.sub-title-text {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}

.content-text {
  font-family: 'Kalam', cursive;
  font-size: 18px;
  font-weight: 300;
  color: #000000;
}

.tag-text {
  font-family: 'Kalam', cursive;
  font-size: 15px;
  font-weight: 300;
  color: #000000;

}
