@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

.reset-pass-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .background {
        height: 99.5%;
    }
    .reset-pass-component {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70vh;
        opacity: 0.8;
        height: 50vh;
        border-radius: 30px;
        background-color: white;
        font-family: 'Kalam', cursive;
        transform: translate(-50%, -50%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        .header {
            margin: 30px 0;
            font-weight: 700;
            font-size: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .email-input-container {
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            .input {
                width: 65%;
                border-bottom: 1px solid #000000;
                input {
                    width: 95%;
                    border: none;
                    font-size: 18px;
                    padding: 5px 10px;
                    font-family: 'Kalam', cursive;
                }
            }
        }
        .err {
            margin: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: red;
        }
        .infor-box {
            padding: 10px;
            font-size: 20px;
            font-weight: 400;
            margin: 10px 20px;
            .box-element {
                margin: 10px;
                display: flex;
                flex-direction: row;
                align-items: center;
                .title {
                    flex: 1 1 40%;
                    text-align: left;
                }
                .input {
                    flex: 1 1 60%;
                    border-bottom: 1px solid #000000;
                    input {
                        width: 95%;
                        border: none;
                        font-size: 18px;
                        padding: 5px 10px;
                        font-family: 'Kalam', cursive;
                    }
                }
            }
        }
        .check-box {
            display: flex;
            gap: 10px;
            margin-top: 15px;
            margin-left: 40%
        }
        .send-btn {
            width: 30%;
            margin: 20px;
            padding: 10px;
            font-size: 20px;
            font-weight: 700;
            cursor: pointer;
            color: #ffffff;
            margin-left: auto;
            margin-right: auto;
            border-radius: 20px;
            background-color: #000000;
            display: flex;
            justify-content: center;
        }
        .message {
            width: 60%;
            margin: 20px;
            font-size: 18px;
            font-weight: 300;
            margin-left: auto;
            margin-right: auto;
            color: red;
        }
        .footer {
            margin-top: 20px;
            font-size: 20px;
            font-weight: 300;
            color: #059213;
            cursor: pointer;
            display: flex;
            justify-content: center;
        }
    }
}