@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');
@import '../../components/BackgroundComponent/Background.scss',
        '../../components/SignInComponent/style/SignInByEmail.scss',
        '../../components/SignInComponent/style/SignInOption.scss';

.sign-in-page {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    .background {
        height: 99.5%;
    }
    .sign-in-component {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 70vh;
        opacity: 0.8;
        height: 65vh;
        border-radius: 30px;
        background-color: white;
        transform: translate(-50%, -50%);
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    }
}